@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #131313;
}
h1 {
  font-family: 'Roboto', sans-serif;
  color: white;
}
h2{
  font-family: 'Roboto', sans-serif;
  color: steelblue;
}
p{
  font: 'Roboto', sans-serif;
  color: #bdbdbd
}
a{
  font-family: 'Roboto', sans-serif;
  color: yellow;
}
.media-picture{
  width: 100%;
  height: 700px;
  background-image: url(/img/trapalhoes\ auto\ da\ compadecida.jpg);
  background-repeat: no-repeat;
  position: center;
}
.review-score{
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #e6bd09;
  padding: 12px;

}